{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

{% block page_title %}IPFree Utility{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Secure Clouds</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>IPFree Utility</h1>
        <p>Utility to check your local network for Free IPs. </p>
        <form id="ipaddress" method="post" action="/ipfree/ipfree/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Search IPs" />
        </form>
            {% if ipthere %}
                {{ ipthere }} is taken!
            {%endif %}

            {% if myip %}
                {{ myip }} is available!
                <form id="addip" method="get" action="/ipfree/ipadd/">
                    
		    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
               	        {{ hidden }}
            	    {% endfor %}

		    <input type="submit" name="submit" value="Add this IP now" />
		</form>
            {% endif %}

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>SDN</h2>
          <p>We deliver both Data Centre and WAN Software Defined Networking (SDN). We use a consultative approach to save you money on existing outdated and expensive technologies such as MPLS.</p>
          <p><a class="btn btn-default" href="#" role="button">View details Â»</a></p>
        </div>
        <div class="col-md-4">
          <h2>Private and Hybrid Cloud</h2>
          <p>Many organisations are extending their private infrastructures into shared environments. Secure Clouds have a proven track record in delivering both private and hybrid cloud solutions. We can also advise and assist you Public IaaS deployments. </p>
          <p><a class="btn btn-default" href="#" role="button">View details Â»</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details Â»</a></p>
        </div>
      </div>
    </div>

{% endblock %}

